body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #ccc;
  }
  
  header span {
    color: #00c544;
  }
  
  h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .name {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  a {
    color: #0077c2;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  .headshot {
    width: 100%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    padding-top:30px;
    margin-top: 40px;
    margin-bottom: 16px;
  }
  
  .text-area {
    padding: 10px;
  }
  
  .title {
    color: grey;
  }
  
  .blurb {
    padding-top: 10px;
    padding-bottom: 12px;
  }
  
  hr {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
  
  .contact {
    font-weight: bold;
  }
  
  a:hover {
    color: #004b91;
    text-decoration: underline;
  }
  
  @media (max-width: 767px) {
    header h1 {
      font-size: 36px;
    }
  
    section {
      padding: 10px;
    }
  }

  @media (max-width: 380px) {
    h2 {
      font-size: 24px;
    }
  }
  